<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hola FCFM.</h1>
		<h4>Bienvenidos a mi LogApp!</h4>
		</div>
	</div>
	
		<div class="right">
		<h5>Login</h5>
		<p>Ya tienes una cuenta? <a href="#">Crea la tuya!</a> te tomara menos de un minuto c;</p>
		<div class="inputs">
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="password">
		</div>
			
			<br><br>

			<br>
			<button>Login</button>
	</div>
	
</div>
<!-- partial -->